altgraph==0.17.4
EWMHlib==0.2
importlib_metadata==8.7.0
mss==10.0.0
numpy==2.3.1
opencv-python==4.11.0.86
packaging==25.0
pillow==11.3.0
psutil==6.1.1
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyMonCtl==0.92
pytesseract==0.3.13
python-xlib==0.33
PyWinBox==0.7
PyWinCtl==0.4.1
RapidFuzz==3.13.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tabulate==0.9.0
typing_extensions==4.14.0
yoyo-migrations==9.0.0
zipp==3.23.0
