@import "tailwindcss";

@font-face {
  font-family: "Tomorrow";
  src: url("assets/fonts/Tomorrow-Regular.ttf");
}

@theme {
  --color-gray: #22262a;
  --color-light-gray: #4c5a6e;
  --color-dark-blue: #283548;
  --color-blue: #468aec;
  --color-light-blue: #82c1f7;

  --animate-playing: playing 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce-soft: bounce-soft 1s ease-in-out infinite;
  --animate-wiggle: wiggle 2s ease-in-out infinite;

  @keyframes bounce-soft {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-14px);
    }
  }


  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(1deg);
    }

    75% {
      transform: rotate(-1deg);
    }
  }

  @keyframes playing {
    0%,
    100% {
      outline-color: color-mix(
        in oklab,
        var(--color-green-400) /* oklch(79.2% 0.209 151.711) = #05df72 */ 10%,
        transparent
      );
    }

    50% {
      outline-color: var(--color-green-400);
    }
  }
}

* {
  font-family: "Tomorrow", sans-serif;
}

body {
  @apply bg-gray;
}

::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full transition-colors;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-white/20;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
